.detalle {
  max-width: 100%;
  background-image: url("../imagenes/descarga10.jpg");
  background-position: center;
  /* background-size:contain; */
  /* max-height: 3500px; */
  height: 100%;
  background-color: rgb(20, 20, 39, 0.7);
  /* text-align: center; */
  /* margin: auto; */
  /* margin-top: -40px; */
  display: flexbox;
}

.encabezado {
  width: 100%;

  display: flexbox;
  padding: 20px;
  height: 100px;
  background-color: rgba(11, 7, 36, 0.33);
  text-align: center;
  font-size: 60px;
  color: rgba(133, 131, 129, 0.713);
  margin-bottom: 200px;
}
/* ---------------cont imagen y texto-------- */
.cont_ {
  margin: auto;
  width: 97%;
  height: 700px;
  columns: 3;
  align-items: center;
  /* background-color:rgba(0, 100, 0, 0.2); */
}
.img_deta {
  width: 400px;
  height: 250px;
  border-radius: 5%;
  border: 2px solid #fff;
  object-fit: cover;
  margin: auto;
}
.img_detalles {
  width: 100%;
  height: 600px;
  display: flexbox;
  text-align: center;
  /* background-color: rgb(35, 31, 39); */
}
.texto {
  text-align: center;
  width: 100%;
  height: 600px;
  margin: auto;
  background-color: rgba(11, 7, 36, 0.2);
}

.actividades {
  height: 600px;
  width: 100%;
  margin: auto;
  background-color: rgba(11, 7, 36, 0.2);
}

.titulo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 35px;
  color: rgba(20, 20, 39, 0.898);
}
.titulo1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  color: rgba(20, 20, 39, 0.898);
}
.detail {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: rgba(198, 198, 204, 0.898);
}
.titulo2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  color: rgba(230, 230, 237, 0.789);
}
.act {
  font-size: 15px;
  color: rgba(247, 240, 240, 0.981);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
}

.listado {
  text-align: right;
}

.boton__ {
  display: flexbox;
  margin: auto;
  text-align: center;
  width: 20%;
  height: auto;
}
